<!DOCTYPE html>
<html>
  <head>
    <title>MatchingSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%
    arr = ["profiles", "messages", "cover_images"]
    %>
    <% if arr.include?(controller.controller_name) %>
    <script>
    var add_url = "<%= url_for(controller: :relations,action: :create) %>";
    var remove_url = "<%= url_for(controller: :relations,action: :destroy_ajax) %>";
    var index_url = "<%= url_for(controller: :profiles,action: :index) %>";      
    </script>
    <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    
    <% if notice.present? %>
    <div class="container">
    <div class="alert alert-dismissable alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><%= notice %></p>
    </div>
    </div>
    <% end %>
    
    <% if alert.present? %>
    <div class="container">
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><%= alert %></p>
    </div>
    </div>
    <% end %>
    
    
    
    <div class="container">


    <%= yield %>      
    </div>
  </body>
</html>